<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="suggestion">
	<select id="getList" parameterType="suggestionDto" resultType="suggestionDto">
		Select * from board_suggestion
	</select>

	<insert id="insert" parameterType="suggestionDto">
		INSERT INTO board_suggestion
		(num, writer, title, content, viewCount, regdate)
		values (board_suggestion_seq.NEXTVAL, 
		#{writer}, #{title}, #{content}, #{viewCount}, SYSDATE)
	</insert>
</mapper>